<mat-card class='card mat-elevation-z15'>
    <mat-card-header class="card-header">
        <mat-card-subtitle>
            Order ID
        </mat-card-subtitle>
        <mat-card-title>
            #{{order.id}}
        </mat-card-title>
        <button
            [ngClass]="{'preparing-order':order.status==2,'ready-order':order.status==3}" color="primary"
            mat-raised-button (click)="nextStatus(order)" class="mat-elevation-z6 order-status">
            <span *ngIf="order.status == 1">
                Order Received
            </span>
            <span *ngIf="order.status == 2">
                Preparing
            </span>
            <span *ngIf="order.status == 3">
                Ready To Serve
            </span>
        </button>
    </mat-card-header>

    <mat-card-content>


        <div class="order-overview">

            <mat-list>
                <mat-list-item>
                    <mat-icon>account_circle</mat-icon>
                    <span style="padding-left: 10px;">
                        {{order.customer.name}}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>local_pizza</mat-icon>
                    <mat-icon class="product-icon">clear</mat-icon>
                    {{order.pizzas.length}}
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>fastfood</mat-icon>
                    <mat-icon class="product-icon">clear</mat-icon>
                    {{order.beverages.length + order.burgers.length}}
                </mat-list-item>
                <br>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span style="padding-left: 10px;padding-top: 7px;font-size: xx-large;">
                        ₹{{getTotalCost(order)}}/-
                    </span>
                </mat-list-item>
            </mat-list>

        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="showDetails(order)">
            View Details
        </button>
    </mat-card-actions>
</mat-card>